

<form method="post" action="/home/addimage" enctype="multipart/form-data">
    <div cl">
        <div class="row" style="min-height: 80vh; display:flex; align-items: center">
            <div class="col-md-6 offset-md-3 bg-light align-items-center p-4 rounded shadow">
                <div class="mb-3">
                    <input type="file" class="form-control w-100" name="image" />
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="Custom Password" class="form-control" name="password" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary w-100">Upload</button>
                </div>
            </div>
        </div>
    </div>
</form>