@using Images.Data;

@model ImageViewModel

<div class="row" style="min-height:80vh; display:flex; align-items:center">
    <form action="/home/password">
        <div class="col-md-8 offset-md-2 shadow bg-light p-4">
            <div>
                @if (ViewBag.InvalidPassword)
                {
                    <h3 class="alert-danger">Invalid Password</h3>
                }
                <h3>Please enter the password for this image:</h3>
                <br />
                <br />
                <input type="text" placeholder="Password" class="form-control w-100" name="password" />
                <br />
                <br />
                <button class="btn btn-primary w-100">Submit</button>
                <input type="hidden" name="id"value="@Model.Image.Id" />
            </div>
        </div>
    </form>
</div>
